In [1]:
import pandas as pd
from sklearn.preprocessing import  OneHotEncoder

In [2]:
## Create a simple dataframe
df = pd.DataFrame({
    'color': ['red', 'green', 'blue', 'red', 'green', 'blue'],
})

In [3]:
df.head()

   color
0    red
1  green
2   blue
3    red
4  green

In [15]:
## Create an istance of Onehotencoder
encoder = OneHotEncoder()

In [16]:
## Perform fit and transform
encoded=encoder.fit_transform(df[['color']]).toarray()

In [17]:
import pandas as pd
encoder_df = pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [18]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         0.0          1.0        0.0
2         1.0          0.0        0.0
3         0.0          0.0        1.0
4         0.0          1.0        0.0
5         1.0          0.0        0.0

In [20]:
## For new data
encoder.transform([['red']]).toarray()

c:\Users\HP\Data-Analytics\DA\lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[0., 0., 1.]])

In [21]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1  green         0.0          1.0        0.0
2   blue         1.0          0.0        0.0
3    red         0.0          0.0        1.0
4  green         0.0          1.0        0.0
5   blue         1.0          0.0        0.0

In [22]:
print("The End")

The End